<h1>New task</h1>
<%= form_with model: @task, class:"mt-5" do |form| %>
<div class="my-3">
  <%= form.label :title, "Title", class: "form-label" %>
  <%= form.search_field :title, placeholder: "Enter the task's title", class: "form-control" %>
</div>
<div class="my-3">
  <%= form.label :details, "Description", class: "form-label" %>
  <%= form.search_field :details, placeholder: "Enter a description", class: "form-control" %>
</div>
<%= form.submit "Add a new task", class: "btn btn-primary my-3" %>
<% end %>
<%= link_to "Back to my tasks", tasks_path %>
